{% extends 'mysite/base.html' %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 100px">
            <div class="col-sm-6">
                <form class="form-inline" action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <label class="sr-only" for="inlineFormInputName2">First Name</label>
                    <input type="text" name="fname" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
                           placeholder="First Name">
                    <button type="submit" class="btn btn-secondary mb-2">Check how rare you are!!</button>
                </form>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">And you are?</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text">
                            {{ result }}
                        </p>
                        <a href="portfolio" class="card-link">Check out my portfolio</a><br>
                        <a href="contact" class="card-link">Contact me!!</a>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock content %}